canvas{
    border: pink solid 5px;
    border-radius: 15px;
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    margin-top:  30px;
}
@keyframes animation{
   from{border: pink solid 5px;}
   to{border: blue solid 10px;}
}